.navbar {
    overflow: hidden;
    background-color: #68d9b3;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1; 
  }

  .nav-item dropdown {
    z-index: 1;
  }


  img {
    padding-bottom: 15px;
    
  }

  .btn {
    align-items: baseline;
  }

  #interventions {
    margin-left: 60px;
    display: block;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#links {
  margin-left: 45px;
  margin-bottom: 40px;
}